/* Base styles */
body {
  font-family: sans-serif;
}

/* Responsive styles */
@media (max-width: 768px) {
  .flex-col-mobile {
    flex-direction: column;
  }
}

.main-banner {
  background-image: url('./assets/main.png');
  background-size: cover;
  background-position: center;
  height: 40vh;
  position: relative;
}

@media (min-width: 640px) {
  .main-banner {
    height: 50vh;
  }
}

@media (min-width: 768px) {
  .main-banner {
    height: 60vh;
  }
}

@media (min-width: 1024px) {
  .main-banner {
    height: 70vh;
  }
}